<ion-header>
	<div class="store-cover" [ngStyle]="getBackgroundStyle(store.cover|imageStore)">
		<ion-navbar transparent>
			<h3 ion-text text-center color="light">{{store.name}}</h3>
		</ion-navbar>
		<div *ngIf="store">
			<ion-row>
				<ion-col col-4>
					<ion-thumbnail item-start>
						<img src="{{store.logo|imageStore}}" class="img-responsive store-logo">
					</ion-thumbnail>
				</ion-col>
				<ion-col col-8>
					<p ion-text color="light">
						<ion-icon name="cash" color="success"></ion-icon>
						<span style="letter-spacing: -0.2px;">Ελάχιστη παραγγελία:</span>
						<strong>{{store.minOrderCost|priceFormat}}</strong>
					</p>
					<p ion-text color="light">
						<ion-icon name="clock" color="success"></ion-icon>
						<span style="letter-spacing: -0.2px;">Ανοιχτό σήμερα:</span>
						<strong *ngIf="store.OpenHours" style="letter-spacing: -0.2px;">
							<span>{{store.getTodayOpenHour().startTime|date:'HH:mm'}}</span> -
							<span>{{store.getTodayOpenHour().endTime|date:'HH:mm'}}</span>
						</strong>
					</p>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-header>

<ion-content>

	<div *ngIf="store">

		<div padding>
			<ion-segment [(ngModel)]="storeSegment">
				<ion-segment-button value="catalog" text-capitalize>Κατάλογος</ion-segment-button>
				<ion-segment-button value="info" text-capitalize>Πληροφορίες</ion-segment-button>
				<ion-segment-button value="contact" text-capitalize>Επικοινωνία</ion-segment-button>
			</ion-segment>
		</div>

		<div [ngSwitch]="storeSegment">

			<ion-list *ngIf="liveDeals && liveDeals.length > 0" class="accordion-list">
				<ion-list-header *ngFor="let category of categories" no-lines no-padding>
					<button ion-item detail-none class="section-active">
						<ion-icon item-left name="flame"></ion-icon>
						Ζωντανές προσφορές
					</button>
					<ion-list>
						<ion-item *ngFor="let liveDeal of liveDeals" detail-none class="child-item pointer" text-wrap>
							<h3 text-capitalize>{{liveDeal.Offer.name}}</h3>
							<p text-capitalize>{{ liveDeal.Offer.shortDescription }}</p>
							<div item-end>
								<button ion-button outline color="dark" class="cross-out display-block">{{liveDeal.Offer.totalPrice|priceFormat}}</button>
								<button ion-button outline small class="display-block"><strong>{{liveDeal.Offer.finalPrice|priceFormat}}</strong></button>
								<div>
									<span>{{liveDeal.endDateTime|countdown|date:'HH:mm:ss'}}</span>
								</div>
							</div>
						</ion-item>
					</ion-list>
				</ion-list-header>
			</ion-list>

			<ion-list *ngSwitchCase="'catalog'" class="accordion-list">
				<ion-list-header *ngFor="let category of categories; let i = index" no-lines no-padding>
					<button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': category.open, 'section': !category.open}">
						<ion-icon item-left name="arrow-forward" *ngIf="!category.open"></ion-icon>
						<ion-icon item-left name="arrow-down" *ngIf="category.open"></ion-icon>
						{{category.key}}
					</button>
					<ion-list *ngIf="category.open">
						<ion-item *ngFor="let product of category; let k = index" detail-none class="child-item pointer" text-wrap (click)="openModal(product)">
							<h3 text-capitalize>{{product.title}}</h3>
							<p text-capitalize>{{ product.description }}</p>
							<button ion-button outline item-end>{{product.price|priceFormat}}</button>
						</ion-item>
					</ion-list>
				</ion-list-header>
			</ion-list>

			<ion-list *ngSwitchCase="'info'">
				<ion-item *ngFor="let address of store.Addresses">
					<ion-row>
						<ion-col>
							<ion-icon name="compass" color="secondary"></ion-icon>
							<span>{{address.line}}</span>
						</ion-col>
						<ion-col>
							<span>{{address.city}}, ΤΚ {{address.zip}}</span>
						</ion-col>
					</ion-row>
				</ion-item>
				<ion-item *ngFor="let openHour of store.OpenHours">
					<ion-row>
						<ion-col>
							<span>{{openHour.dayOfWeek|dayNameFormat}}</span>
						</ion-col>
						<ion-col>
							<ion-icon name="clock" color="secondary"></ion-icon>
							<span>{{openHour.startTime|date:'HH:mm'}}</span> -
							<span>{{openHour.endTime|date:'HH:mm'}}</span>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-list>

			<ion-list *ngSwitchCase="'contact'">
				<ion-item *ngFor="let contact of store.Contacts">
					<ion-row>
						<ion-col col-4>
							<ion-avatar item-start>
								<img src="{{contact.contactTypePicture|imageContactType}}" class="img-responsive" style="width: 32px; height: 32px">
							</ion-avatar>
						</ion-col>
						<ion-col col-8>
							<a href="tel:{{contact.value}}" ion-button outline round block color="secondary">{{contact.value}}</a>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-list>
		</div>
	</div>
	<ion-fab *ngIf="cart && cart.cartItems.length > 0" bottom right>
		<button ion-fab large color="primary" (click)="navigateToCheckoutPage()">
			{{cart.cartItems.length}}
			<ion-icon name="cart"></ion-icon>
		</button>
	</ion-fab>
</ion-content>