page-store {
    ion-header ion-icon.back-button-icon.icon {
        color: color($colors, light, base);
    }
    .store-cover {
        height: 160px;
        background-position: center;
        background-size: cover;
        padding-top: 5px;
        .store-logo {
            width: 64px;
            height: 64px;
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
            border: 2px solid #ffffff;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .pointer {
        cursor: pointer;
    }
    .segment-button {
        background-color: color($colors, light, base) !important;
        color: black !important;
        font-weight: bold !important;
    }
    .segment-activated {
        background-color: color($colors, secondary-light, base) !important;
        color: black !important;
        font-weight: bold !important;
    }
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: white;
        color: black;
        margin-bottom: 4px;
    }
    .section-active {
        background: color($colors, primary-light, base);
        color: white;
    }
    .child {
        background: #e8e7e6;
        color: black;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
}
