<ion-header>
  <ion-navbar color="primary">
    <ion-title text-capitalize>Κατάλογος</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="store">
    <ion-item no-lines>
      <ion-fab right top>
        <button ion-fab color="secondary"><ion-badge *ngIf="store.isOpen;else isClosed" item-end></ion-badge>Ανοιχτό</button>
        <ng-template #isClosed>
          <button ion-fab color="danger"><ion-badge item-end color="danger"></ion-badge>Κλειστό</button>
        </ng-template>
      </ion-fab>
      <ion-thumbnail item-start>
        <img src="{{store.logo|imageStore}}" class="img-responsive">
      </ion-thumbnail>
      <h2>{{store.name}}</h2>
      <p>
        <ion-icon name="cart">{{store.minOrderCost|priceFormat}}</ion-icon>
      </p>
    </ion-item>

    <div padding>
      <ion-segment [(ngModel)]="storeSegment">
        <ion-segment-button value="catalog" text-capitalize>
          Κατάλογος
        </ion-segment-button>
        <ion-segment-button value="info" text-capitalize>
          Πληροφορίες
        </ion-segment-button>
        <ion-segment-button value="contact" text-capitalize>
          Επικοινωνία
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="storeSegment">
      <ion-list *ngSwitchCase="'catalog'">
        <div *ngFor="let category of categories">
          <ion-list-header text-capitalize>
            {{category.key}}
          </ion-list-header>
          <ion-item class="pointer" *ngFor="let product of category" (click)="openModal(product)">
            <h2>{{product.title}}</h2>
            <h2 item-right ion-text color="primary">{{product.price|priceFormat}}</h2>
          </ion-item>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'info'">
        <ion-item *ngFor="let address of store.Addresses">
          <p><ion-icon name="home"></ion-icon> {{address.line}}, ΤΚ {{address.zip}}, {{address.city}}</p>
        </ion-item>
        <ion-item *ngFor="let openHour of store.OpenHours">
          <p><ion-icon name="clock"></ion-icon> {{openHour.dayOfWeek|dayNameFormat}}: {{openHour.startTime|date:'shortTime'}} - {{openHour.endTime|date:'shortTime'}}</p>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'contact'">
        <ion-item *ngFor="let contact of store.Contacts">
          <ion-avatar item-start>
              <img item-right src="https://www.serresdelivery.gr/image/contact-type/{{contact.contactTypePicture}}" class="img-responsive" style="width: 24px; height: 24px">
          </ion-avatar>
          <a center ion-button block href="tel:{{contact.value}}"> {{contact.value}}</a>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>