page-product-modal {
    ion-header ion-icon.back-button-icon.icon {
        color: color($colors, light, base);
    }
    .product-picture {
        height: auto;
        background-position: center;
        background-size: cover;
        padding-top: 5px;
        .product-price {
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
            border: 2px solid color($colors, primary, base);
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .ingredients-container {
        ion-label {
            display: flex;
            justify-content: space-between;
        }
    }
    .attributes-container {
        ion-label {
            display: flex;
            justify-content: space-between;
        }
    }
    .name, .price {
        letter-spacing: -0.7px;
    }

}
