<ion-header>
	<div class="product-picture" [ngStyle]="{'background': 'linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 80%), url(' + (product.picture|imageProduct) + '?height=400&width=860&rmode=max' + ')  center center / cover no-repeat'}">
		<ion-navbar transparent>
			<h3 ion-text color="light">{{product.name}}</h3>
			<ion-buttons end>
				<button ion-button icon-only (click)="closeProductModal()" color="light">
					<ion-icon name="close"></ion-icon>
				</button>
			</ion-buttons>
		</ion-navbar>
		<div *ngIf="product">
			<span ion-text color="light">{{product.shortDescription}}</span>
			<ion-row>
				<ion-col col-12>
					<button ion-button float-right>{{totalPrice|priceFormat}}</button>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-header>

<ion-content>
	<ion-grid>
		<ng-container *ngIf="attributeGroups && attributeGroups.length > 0">
			<ion-row class="attributes-container" *ngFor="let attributeGroup of attributeGroups">
				<ion-col>
					<ion-list radio-group [(ngModel)]="attributeGroup.selectedAttributeBid" name={{attributeGroup.bid}}>
						<ion-list-header text-capitalize>
							<h4>
								<strong>{{attributeGroup.description}}</strong>
							</h4>
						</ion-list-header>
						<ion-item *ngFor="let attribute of attributeGroup.Product_Attributes; let i = index;" item-start>
							<ion-label>
								<span class="label">{{attribute.Ingredient.name}}</span>
								<span class="price" *ngIf="attributeGroup.showPrice() && attribute.price > 0">+{{attribute.price|priceFormat}}</span>
							</ion-label>
							<ion-radio [value]="attribute.Ingredient.bid" (ionSelect)="calculateTotalPrice()"></ion-radio>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>
		</ng-container>
		<ng-container *ngIf="ingredients && ingredients.length > 0">
			<ion-row class="ingredients-container">
				<ion-col>
					<ion-list>
						<ion-list-header text-capitalize>
							<h4>
								<strong>Επίλεξε επιπλέον υλικά</strong>
							</h4>
						</ion-list-header>
						<ion-item *ngFor="let ingredient of ingredients">
							<ion-label>
								<span class="label">{{ingredient.Ingredient.name}}</span>
								<span class="price" *ngIf="ingredient.price > 0">+{{ingredient.price|priceFormat}}</span>
							</ion-label>
							<ion-toggle [(ngModel)]="ingredient.amount" (ionChange)="calculateTotalPrice()"></ion-toggle>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>
		</ng-container>
		<ion-row>
			<ion-col>
				<ion-textarea type="text" outline [(ngModel)]="info" placeholder="Παρατηρήσεις & σχόλια"></ion-textarea>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col col-2>
			<button ion-button block ion-icon (click)="changeQuantity(-1)">
				<ion-icon name="remove"></ion-icon>
			</button>
		</ion-col>
		<ion-col col-2>
			<ion-input [(ngModel)]="quantity" text-center>{{quantity}}</ion-input>
		</ion-col>
		<ion-col col-2>
			<button ion-button block ion-icon (click)="changeQuantity(+1)">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-col>
		<ion-col col-6>
			<button ion-button block text-capitalize (click)="addToCart()">Προσθήκη</button>
		</ion-col>
	</ion-row>
</ion-footer>
