page-home {
    ion-content {
        background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 80%), url("../assets/imgs/background.jpg");
        background-position: center;
        background-size: cover;
    }
    .margin-bottom-percent-15 {
        margin-bottom: 15%;
    }
    .pointer {
        cursor: pointer;
    }
    .scroll-content {
        display: table !important;
        width: 100% !important;
        height: 100% !important;
    }
    .scroll {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}
