page-home {
    ion-content {
        background-image: url("../assets/imgs/homepagebg.jpg");
        background-position: center;
        background-size: cover;
    }
    ion-grid {
        height: 100%;
      
        ion-row.header {
            height: 10%;
        }
        ion-row.content {
            height: 75%;
        }
        ion-row.footer {
            height: 15%;
        }
      }
}
