page-home {
    .background-coffee {
        background-image: linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 80%), url("../assets/imgs/background-coffee.jpg");
        background-position: center;
        background-size: cover;
    }
    .background-meal {
        background-image: linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 80%), url("../assets/imgs/background-meal.jpg");
        background-position: center;
        background-size: cover;
    }
    .margin-bottom-percent-5 {
        margin-bottom: 5%;
    }
    .pointer {
        cursor: pointer;
    }
    .scroll-content {
        display: table !important;
        width: 100% !important;
        height: 100% !important;
    }
    .scroll {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .speech-bubble-ds {
        background: color($colors, light, base);
        border: 1px solid color($colors, secondary, base);
        -webkit-border-radius: 4px;
                border-radius: 4px;
        -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
        font-size: 1.2rem;
        line-height: 1.3;
        margin: 0 auto 40px;
        max-width: 400px;
        padding: 15px;
        position: relative;
    }
    .speech-bubble-ds-arrow {
        border-left: 21px solid transparent;
        border-top: 20px solid rgba(0, 0, 0, 0.2);
        bottom: -25px;
        position: absolute;
        right: 15px;
    }
    .speech-bubble-ds-arrow::before {
        border-left: 23px solid transparent;
        border-top: 23px solid color($colors, secondary, base);
        bottom: 2px;
        content: "";
        position: absolute;
        right: 5px;
    }
    .speech-bubble-ds-arrow::after {
        border-left: 21px solid transparent;
        border-top: 21px solid color($colors, light, base);
        bottom: 4px;
        content: "";
        position: absolute;
        right: 6px;
    }
}
