page-home {
    .background-coffee {
        background-image: linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 80%), url("../assets/imgs/background-coffee.jpg");
        background-position: center;
        background-size: cover;
    }
    .background-meal {
        background-image: linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 80%), url("../assets/imgs/background-meal.jpg");
        background-position: center;
        background-size: cover;
    }
    .margin-bottom-percent-5 {
        margin-bottom: 5%;
    }
    .pointer {
        cursor: pointer;
    }
    .livedeals {
        position: absolute;
        bottom: 150px;
        width: 100%;
        padding: 0 2%;

        ion-item {
            background-color: #00000077;
            margin-top: 3px;
            max-height: 80px;
        }

        .item-block .item-inner {
            border-bottom: none;
        }
        
        .store-logo {
            width: 64px;
            height: 64px;
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
            border: 2px solid #ffffff;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        ion-thumbnail {
            min-width: 64px;
            min-height: 64px;
        }

        .store-name {
        }

        .offer-name {
            letter-spacing: -0.2px;
        }

        .text-ios.offer-name {
            font-size: 90%;;
        }

        .offer-discount-percent {
            color: #f44336;
            font-weight: bold;
        }

        // .transparent {
        //     background-color: transparent;
        // }
    }


    .scroll-content {
        display: table !important;
        width: 100% !important;
        height: 100% !important;
    }
    .scroll {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .speech-bubble-ds {
        background: color($colors, light, base);
        border: 1px solid color($colors, secondary, base);
        -webkit-border-radius: 4px;
                border-radius: 4px;
        -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
        font-size: 1.2rem;
        line-height: 1.3;
        margin: 0 auto 40px;
        max-width: 400px;
        padding: 15px;
        position: relative;
    }
    .speech-bubble-ds-arrow {
        border-left: 21px solid transparent;
        border-top: 20px solid rgba(0, 0, 0, 0.2);
        bottom: -25px;
        position: absolute;
        right: 15px;
    }
    .speech-bubble-ds-arrow::before {
        border-left: 23px solid transparent;
        border-top: 23px solid color($colors, secondary, base);
        bottom: 2px;
        content: "";
        position: absolute;
        right: 5px;
    }
    .speech-bubble-ds-arrow::after {
        border-left: 21px solid transparent;
        border-top: 21px solid color($colors, light, base);
        bottom: 4px;
        content: "";
        position: absolute;
        right: 6px;
    }
}
