<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle start>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Καλάθι
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-list class="accordion-list">
		<ion-list-header no-lines no-padding *ngIf="cart">
			<button ion-item (click)="toggleSectionCartDetails(showCartDetails)" detail-none [ngClass]="{'section-active': showCartDetails, 'section': !showCartDetails}">
				<ion-icon item-left name="arrow-forward" *ngIf="!showCartDetails"></ion-icon>
				<ion-icon item-left name="arrow-down" *ngIf="showCartDetails"></ion-icon>
				Καλάθι Παραγγελίας
			</button>
			<ion-list *ngIf="showCartDetails">
				<ion-item *ngFor="let cartItem of cart.cartItems" detail-none class="child-item" text-wrap>
					<h3 text-capitalize>{{cartItem.name}}</h3>
					<p item-end>Ποσότητα: {{cartItem.quantity}}</p>
					<button ion-button outline item-end>{{cartItem.totalPrice|priceFormat}}</button>
				</ion-item>
			</ion-list>
		</ion-list-header>
	</ion-list>

	<ion-list *ngIf="orderDetails">
		<ion-list-header text-capitalize>
			Στοιχεία παραγγελίας
		</ion-list-header>
		<ion-item margin-bottom>
			<ion-label class="required" floating>
				<ion-icon name="person"></ion-icon>
				<span>Επώνυμο</span>
			</ion-label>
			<ion-input type="text" [(ngModel)]="orderDetails.customerForname"></ion-input>
		</ion-item>
		<ion-item margin-bottom>
			<ion-label class="required" floating>
				<ion-icon name="person"></ion-icon>
				<span>Όνομα</span>
			</ion-label>
			<ion-input type="text" [(ngModel)]="orderDetails.customerSurname"></ion-input>
		</ion-item>
		<ion-item margin-bottom>
			<ion-label class="required" floating>
				<ion-icon name="home"></ion-icon>
				<span>Διεύθυνση & αριθμός</span>
			</ion-label>
			<ion-input type="text" [(ngModel)]="orderDetails.customerAddressLine"></ion-input>
		</ion-item>
		<ion-item margin-bottom>
			<ion-label class="required" floating>
				<ion-icon name="call"></ion-icon>
				<span>Τηλέφωνο</span>
			</ion-label>
			<ion-input type="tel" [(ngModel)]="orderDetails.customerPhoneNumber"></ion-input>
		</ion-item>
		<ion-item margin-bottom>
			<ion-label class="required" floating>
				<ion-icon name="call"></ion-icon>
				<span>Επιβεβαίωση τηλεφώνου</span>
			</ion-label>
			<ion-input type="tel" [(ngModel)]="orderDetails.customerPhoneNumberConfirm"></ion-input>
		</ion-item>
		<ion-item margin-bottom>
			<ion-label floating>
				<ion-icon name="notifications"></ion-icon>
				<span>Όνομα στο κουδούνι</span>
			</ion-label>
			<ion-input [(ngModel)]="orderDetails.customerDoorName"></ion-input>
		</ion-item>
		<ion-item margin-bottom>
			<ion-label class="required">
				<ion-icon name="list-box"></ion-icon> Όροφος
			</ion-label>
			<ion-select [(ngModel)]="orderDetails.customerFloorNumber" okText="ΟΚ" cancelText="ΑΚΥΡΟ">
				<ion-option value="0">Ισόγειο</ion-option>
				<ion-option value="0.5">Ημιόροφος</ion-option>
				<ion-option value="1">1ος όροφος</ion-option>
				<ion-option value="2">2ος όροφος</ion-option>
				<ion-option value="3">3ος όροφος</ion-option>
				<ion-option value="4">4ος όροφος</ion-option>
				<ion-option value="5">5ος όροφος</ion-option>
				<ion-option value="6">6ος όροφος</ion-option>
				<ion-option value="7">7ος όροφος</ion-option>
				<ion-option value="8">8ος όροφος</ion-option>
				<ion-option value="9">9ος όροφος</ion-option>
				<ion-option value="10">Μονοκατοικία</ion-option>
				<ion-option value="11">Κατάστημα</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>

</ion-content>

<ion-footer>
	<ion-navbar>
		<button center text-capitalize ion-button block [disabled]="!canSendOrder" (click)="sendOrder()">
			{{totalCartPrice|priceFormat}} Αποστολή Παραγγελίας
		</button>
	</ion-navbar>
</ion-footer>