<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar style=" padding-left: 0; padding-right: 0;" placeholder="Αναζήτηση" (ionInput)="searchStores($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="openFilters()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item class="pointer" *ngFor="let store of stores" (click)="navigateToStorePage(store)">
      <ion-thumbnail item-start>
        <img src="{{store.logo|imageStore}}" class="img-responsive">
      </ion-thumbnail>
      <h2>{{store.name}}</h2>

      <div *ngIf="store.isOpen;else isClosed">
        <h2 ion-text color="success" item-right>Ανοιχτό</h2>
      </div>

      <ng-template #isClosed>
        <h2 ion-text color="danger" item-right>Κλειστό</h2>
      </ng-template>

      <p>Γύρος,Σουβλάκια,Ψητά,Σαλάτες,ClubBurger</p>
    </ion-item>

  </ion-list>
</ion-content>

<!-- <ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col no-padding>
        <button center text-capitalize ion-button block>Εμφάνιση Όλων</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->