page-stores {
    .header-menu {
        margin-top: 8px;
    }
    .menu-icon {
        font-size: 30px;
    }
    .pointer {
        cursor: pointer;
    }
    .background-pattern {
        background: linear-gradient(rgba(244,244,244, 0.11), rgba(244,244,244, 0.11)), url('../assets/imgs/sayagata2.png');
        
        ion-item {
            background-color: inherit;
        }
    }
    .store-logo {
        width: 64px;
        height: 64px;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
        border: 2px solid #ffffff;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .toolbar-ios-secondary .searchbar-ios .searchbar-input {
        background: color($colors, light, base);
        color: color($colors, dark, base);
    }
    .toolbar-ios-secondary .searchbar-ios .searchbar-input::placeholder {
        color: color($colors, grey, base);
        opacity: 1;
    }
    .toolbar-ios-secondary .searchbar-ios .searchbar-input::-webkit-input-placeholder {
        color: color($colors, grey, base);
        opacity: 1;
    }
    .toolbar-ios-secondary .searchbar-ios .searchbar-input::-moz-placeholder {
        color: color($colors, grey, base);
        opacity: 1;
    }
    .searchbar-ios .searchbar-search-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>") !important;
    }
    .searchbar-ios .searchbar-clear-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>") !important;
    }
}
