<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Match URL" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="AdjustCacheForHTMLPages" preCondition="IsHTMLFile">
					<match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
					<action type="Rewrite" value="no-cache, no-store, must-revalidate" />
				</rule>
				<rule name="AdjustCacheForStaticFiles" preCondition="NotIsHTMLFile">
					<match serverVariable="RESPONSE_Expires" pattern=".*" />
					<action type="Rewrite" value="Tue, 25 Feb 2025 18:13:24 GMT" />
				</rule>
				<preConditions>
					<preCondition name="IsHTMLFile">
						<add input="{REQUEST_FILENAME}" pattern=".*\.html" />
					</preCondition>					
					<preCondition name="NotIsHTMLFile">
						<add input="{REQUEST_FILENAME}" pattern=".*\.html" negate="true" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>
